.register {
  background-color: rgb(54, 54, 54);
  width: 100vw;
  height: 89.3vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    background-color: #242526;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 35%;
    color: white;
    padding: 50px 20px;
    border-radius: 5px;
    box-shadow: 3px 5px 100px -2px rgba(196, 196, 196, 0.75);
    -webkit-box-shadow: 3px 5px 100px -2px rgba(196, 196, 196, 0.75);
    -moz-box-shadow: 3px 5px 100px -2px rgba(196, 196, 196, 0.75);

    .input {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 85%;
    }

    label {
      color: white;
    }

    input {
      width: 100%;
      margin: 0 auto;
      padding: 10px 20px;
    }

    h3 {
      margin-bottom: 10px;
    }
  }
  .form-btn {
    margin-top: 5px;
    button {
      padding: 10px 20px;
      background-color: transparent;
      color: white;
      border: 1px solid white;
      cursor: pointer;
      transition: 0.2s ease-in-out all;
    }
    button:hover {
      background-color: white;
      color: #242526;
      border: 1px solid transparent;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .register {
    .form {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 900px) {
  .register {
    .form {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .register {
    .form {
      width: 80%;
      .input {
        width: 100%;
      }
    }
  }
}
